#main-window{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
}

/* ========== Canvas CSS ========== */

#game-screen{
        background:url(./assets/background.png) ;
        /* border: 1px dashed grey; */
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
}

/* dummy div test outside canvas */
#testDiv{
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 700px;
        height: 300px;
        align-content: flex-start;
}

.towerGround{
        width: 116.67px;
        height: 90px;
        z-index: 9;
        background-color:#eaeaea;
        border: 1px dashed black;
}

.towerGround:hover{
        background-color: darkgoldenrod;
}


/* ========== Status Board and Tower Button CSS ========== */

#button-list{
        margin: 30px auto;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

#status-board{
        font-size: 24px;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 100px;
}

.towerButton{
        padding: 0 20px;
        font-size: 20px;
        margin-right: 20px;
        height: 50px;
}
