body{
        min-width: 750px;
}

#main-window{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
}

/* ========== Canvas CSS ========== */

#game-screen{
        background:url(./assets/background.png) ;
        background-repeat: no-repeat;
        /* border: 1px dashed grey; */
        width: 700px;
        height: 300px;

        margin: 10px auto;
        padding-top: 10px;
        position: relative;

}

#flex-screen{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 300px;
}


.towerGround{
        width: 116px;
        height: 96px;
        /* text-align: right; */
        /* border: 1px dashed black; */
}

.actived{
        opacity: 0.2;
        background-color:#eaeaea;
}

.actived:hover{
        opacity: 0.8;
        background-color: darkgoldenrod;
}


/* ========== Status Board and Tower Button CSS ========== */

#button-list{
        margin: 30px auto;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

#status-board{
        font-size: 24px;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 100px;
}

.towerButton{
        padding: 0 20px;
        font-size: 20px;
        margin-right: 20px;
        height: 50px;
}


/* Enemy CSS */

.enemy-char{
        height: 80px;
        position: absolute;
        right: 0;
}



/* Testing Ground CSS */

#walking-test{
        width: 700px;
        height: 300px;
        position: relative;
        background: yellow;
}


#test-label{
        text-align: center;
        font-size: 30px;
        opacity: 0.4;
}

#test-enemy{
        /* width: 50px; */
        height: 80px;
        margin-top: 10px;
        position: absolute;
        right:0;
}

#move-button{
        background-color: chocolate;
}