body{
        min-width: 750px;
        font-family: 'Libre Baskerville', serif;
        padding-top: 10px;
        padding-left: 5%;
        padding-right: 5%;
}

h1{
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 50px;
}



/* ========== Game Display CSS ========== */

#main-window{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: center;
        padding-bottom: 0;
}

#need-to-protect{
        width: 200px;
        height: 290px;
        background-color: #5aa897;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


#enemy-goal{
        width: 150px;
        height: 150px;
}

#game-screen{
        background:url(./assets/background.png) ;
        background-repeat: no-repeat;
        /* border: 1px dashed grey; */
        width: 700px;
        height: 300px;

        margin: 10px 0;
        padding-top: 10px;
        position: relative;
}

#flex-screen{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 300px;
}


.towerGround{
        width: 116px;
        height: 96px;
        /* text-align: right; */
        /* border: 1px dashed black; */
}


.activedOne{
        opacity: 0.2;
        background-color:#eaeaea;
}

.activedOne:hover{
        opacity: 0.8;
        background: url("./assets/sme.png");
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;
}

.activedTwo{
        opacity: 0.5;
        background-color:#eaeaea;
}

.activedTwo:hover{
        opacity: 0.8;
        background: url("./assets/international.png");
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
}

.demolishTower{
        opacity: 0.2;
        background-color:#eaeaea;
}

.demolishTower:hover{
        opacity: 0.8;
        background-color: red;
}

.rejected{
        opacity: 0.5;
        background-color: red;
}

.buildSmallTower{
        background: url("./assets/sme.png");
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;
}

.buildBigTower{
        background: url("./assets/international.png");
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
}



/* Tower and bullet */
.bulletDisplay{
        height: 25px;
        width: 25px;
        position: absolute;
        margin-top: 35px;
}


.smallTowerDisplay{
        height: 60px;
        width: 60px;
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
}

.bigTowerDisplay{
        height: 80px;
        width: 80px;
        position: absolute;
        margin-top: 5px;
}


/* ========== Status Board and Tower Button CSS ========== */

.buttonList{
        margin: 5px auto 40px auto;
        max-width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

#message-bar{
        margin: 0 auto -10px auto;
        max-width: 890px;
        height: 50px;
        background-color: #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #5aa897;
        color: #02475e;
        font-size: 18px;
        font-weight: 700;
}

/* Animation */
.shake{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
}

@keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/* Animation end */

#gold-status{
        font-size: 24px;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 40px;
}

#score-status{
        font-size: 24px;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 40px;
}

.towerButton{
        padding: 0 10px;
        cursor: pointer;
        font-size: 18px;
        margin-right: 20px;
        height: 50px;
        box-shadow: 10px;
        border: none;
        background-color: #04AA6D;
        box-shadow: 0 3px #999;
        border-radius: 10px;
        outline: none;
        display: flex;
        align-items: center;
}


.towerButton:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

.sendEnemyBtn{
        background-color: #ff8303;
}

.sendEnemyBtn:active{
        background-color: #ff5200;
}

#delete-tower-button{
        background-color: #d8ac9c;
        padding-left: 0px;
}

#delete-tower-button:active{
        background-color: #845460;
        box-shadow: 0 5px #666;
}

.smallIcon{
        height: 30px;
        width: 30px;
        margin-left: 10px;
}


/* Enemy CSS */

.enemy-char{
        width: 60px;
        height: 60px;
        position: absolute;
        margin-top: 10px;
        right: 0;
}

.boss-char{
        width: 150px;
        height: 150px;
        position: absolute;
        right: 0;
}



/* Testing Ground CSS */

#walking-test{
        width: 700px;
        height: 300px;
        position: relative;
        background: yellow;
}


#test-label{
        text-align: center;
        font-size: 30px;
        opacity: 0.4;
        position: absolute;
        top: 150px;
        left: 200px;
}


.testButton{
        background-color: chocolate;
        padding: 0 20px;
        font-size: 20px;
        margin-right: 20px;
        height: 50px;
}


/* Modal */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
        left: 0;
        opacity: 1;
	background: #5aa897;
        display: none;
}

.modalInstruction {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
}

.instruction-item {
        width: 200px;
        border: 3px black solid;
}

.modal.show {
        display: block;
}
    
.modalContent {
        position: relative;
        width: 600px;
        margin: 50px auto 50px auto;
        padding: 10px 50px 50px 50px;
        background-color: #eaeaea;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
}
    
.modalImage{
        width: 80px;
        height: 80px;
        margin-left: 40px;
}

.modalTitle{
        font-size: 3em;
        margin-bottom: 10px;
}

.blocked{
        background-color: #687980;
        color: white;
        font-weight: 700;
}

#ready-to-start{
        height: 30px;
        margin-left: 10px;
        background-color: #5aa897;
}

.instruction {
        position: absolute;
        opacity: 0.95;
        background: #eaeaea;
        display: none;
        width: 190px;
        height: 280px;
}

.instruction.show{
        display: flex;
        align-items: center;
        font-size: 30px;
        justify-content: center;
}
